.main{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}

.selectContainer{
    width: 90%;
    max-width: 55rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0; 
}