.formContainer{
  
    width: 100%;
    height: 100%;
    position: absolute;
    width: -moz-max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formContainer{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 35rem;
    max-width: 90%;

}
.textField{
    width: 30rem;
    max-width: 90%;
}


