.mainHeader {

  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:  linear-gradient(to right, #d8a10a, #f7c931);
  padding: 0 2rem;
}

.main-header h1 {
  color: white;
  position: relative;
  left: 10%;
}

@media only screen and (max-width: 320px) {
  .mainHeader h1 {
    color: white;
    position: relative;
    
    font-size: 20px;
  }
}
